.skeletonWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin-top: 16px;
}

.skeletonCard {
  width: 100%;
  height: 250px;
  background-color: rgba(128, 128, 128, 0.501);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border: 2px solid rgba(128, 128, 128, 0.501);
  border-radius: 3px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1
  }

  50% {
    opacity: 0.5;
  }
}